.form {
    &__label {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        position: relative;
    }

    &__span {
        margin-bottom: 6px;
    }

    &__input {
        border: 1px solid #414141;
        padding: 12px 16px;
        background: transparent;
        color: #fff;
        outline: none;
        font-size: 18px;
        border-radius: 4px;

        &.invalid {
            border-color: $error;
        }
    }

    &__textarea {
        resize: none;
        height: 144px;
    }

    &__symbols {
        display: flex;
        justify-content: flex-end;
        margin-top: 6px;
    }

    &__message {
        color: $error;
        margin-top: 6px;
    }

    &__submit {
        &.disabled {
            pointer-events: none;
            cursor: none;
        }
    }
}
