.text {
    //positions
    &_center {
        text-align: center;
    }

    //sizes
    font-size: 14px;
    line-height: 17px;

    &_xs {
        font-size: 10px;
        line-height: 12px;
    }

    &_sm {
        font-size: 13px;
        line-height: 16px;
    }

    &_rg {
        font-size: 14px;
        line-height: 17px;
    }

    &_md {
        font-size: 16px;
        line-height: 19px;
    }

    &_lg {
        font-size: 18px;
        line-height: 140%;
    }

    //weight
    &_regular {
        font-weight: 400;
    }

    &_semibold {
        font-weight: 500;
    }

    &_bold {
        font-weight: 700;
    }

    &_primary {
        color: $primary;
    }

    &_decornone {
        text-decoration: none;
    }

    &_grey {
        color: $grey;
    }

    &_error {
        color: $error;
    }

    &_white {
        color: white;
    }

    //text-transforms

    &_uppercase {
        text-transform: uppercase;
    }

    &_pointer {
        cursor: pointer;
    }
}
